$info-color: #f8d7da;
$info-text-color: #721c24;
$info-border-color: #f5c6cb;
$info-good-color: #b7f3b7;

.absolute {
  z-index: 1;
}
.button {
  width: 0.5625rem;
}

.style-input {
  display: flex;
}

.instructions {
  position: absolute;
  bottom: 55%;
  left: 40%;
  transform: translateX(-50%);
  background-color: $info-color;
  color: $info-text-color;
  padding: 10px;
  border: 1px solid $info-border-color;
  border-radius: 5px;
  display: inline-block;
  transition: opacity 0.3s ease-in-out;

  &.offscreen {
    opacity: 0;
    pointer-events: none;
  }
}

.parent-of-inputs {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
}

.error {
  padding: 10px;
  color: $info-text-color;
  background-color: $info-color;
}

.success {
  padding: 10px;
  background-color: $info-good-color;
}
