@use "./styles/partials/variables" as *;
@import "mapbox-gl/dist/mapbox-gl.css";

* {
  margin: 0;
  padding: 0;
}

.map-container {
  height: 100vh;
}

.sidebar {
  // background-color: rgba(35, 55, 75, 0.9);
  background-color: $primary-blue;
  color: #fff;
  padding: 3px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  // margin: 12px;
  border-radius: 4px;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
